<%= stylesheet_link_tag "registration.css" %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'container'}) do |f| %>
<!--%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %-->
<%= devise_error_messages! %>
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <%= image_tag 'Mileem1.jpg', size: "120", class: "img-responsive center-block"%>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form">
                    <fieldset>
                    	<!--h2>Editando cuenta <%= f.label :email, @user.email , autofocus: false, :readonly => true %></h2-->
                    	<!--div class="form-group">
                            <%= f.label :full_name %>
                            <%= f.text_field :full_name, class: "form-control",autofocus: true %>
                        </div-->
                        <div class="form-group">
                            <%= f.label :phone %>
                            <%= f.text_field :phone, class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :email %>
                            <%= f.email_field :email, class: "form-control" %>
                        </div>
                    	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    					<div>
    						Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    					</div>
  						<% end %>                    
                        <div class="form-group">
                            <%= f.label :password %>
                             <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                        </div>
                        <div>
                        	<%= f.label :current_password %> <i>(necesitamos tu contraseña actual para confirmar tus cambios)</i><br />
    						<%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    					</div>
                        <div class="form-group">
                            <%= f.submit "Actualizar cuenta", class: 'btn btn-lg btn-primary btn-block' %>
                        </div>
                        <div class="form-group">
                            <%= render "devise/shared/links" %>
                        </div>
                     </fieldset>

                    </form>
                </div>
            </div>
        </div>
    </div>
<% end %>


  