<%= stylesheet_link_tag "navigation.css" %>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<%= image_tag 'Mileem1.jpg', size: "45", class: "center-block nav-center-img" %>
<div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Inicio', publications_path, class:"navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <%= link_to t('.new', :default => "Nueva Publicación"), new_publication_path, :class => 'btn btn-primary' %>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Bienvenido <%=current_user.full_name %> <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a><i class="fa fa-cog"></i> Editar</a></li>
            <li class="divider"></li>
            <li><%= link_to(' Cerrar sesión', destroy_user_session_path, :method => :delete, class: "fa fa-sign-out") %>  </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>