<%= stylesheet_link_tag "dashboard.css" %>
<%= render :partial => 'navigation' %>
<%- model_class = Publication -%>
<div class="page-header">
    <h1>Mis Publicaciones</h1>
<%= form_tag '', :method => :get do %>
<div class="row">
<div class="panel-body">
    <div class="col-xs-2">
    <%= label_tag "Estado",nil, class: "control-label" %>
    <%= select_tag(:status,  options_for_select(Publication::STATUS), class: "form-control") %>
    </div>
    <div class="col-xs-2">
    <%= label_tag "Fecha de publicación desde",nil, class: "control-label" %>
    <%= text_field_tag :first_date,nil, { class: "form-control", readonly:true, style:"background:white;cursor:default;"} %>
    </div>
     <div class="col-xs-2">
    <%= label_tag "Fecha de publicación hasta",nil, class: "control-label" %>
    <%= text_field_tag :last_date,nil, { class: "form-control", readonly:true, style:"background:white;cursor:default;"} %>
    </div>
    <div class= "col-xs-2">
    <%= submit_tag 'Buscar', class: "btn btn-primary" ,style:"margin-top:25px;" %>
    </div>
</div>
</div>
<% end %>
</div>
<% @publications.each_slice(2) do |p1, p2| %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="panel panel-primary">
                <div class="row padall">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <span></span>
                        <%- if !p1.publication_attachments.first %>
                         <%= image_tag 'noimage.jpg' %>
                        <% end -%>
                        <%- if p1.publication_attachments.first %>
                         <%= image_tag p1.publication_attachments.first.image_url%>
                        <% end -%>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="clearfix">
                            <div class="pull-left">
                                <span class="fa fa-dollar icon"><%= p1.currency %> <%= p1.price %></span>
                            </div>
                            <div class="pull-right">
                                <%= p1.type %> | <%= p1.init_date %>  
                            </div>
                        </div>
                        <div>
                            <%- if p1.missing_pay? %>
                                <span class="label label-danger pull-right">Pago pendiente</span>
                            <% end -%>
                            <%- if p1.enable_to_publish? %>
                                <span class="label label-primary pull-right">Lista para publicar</span>
                            <% end -%>
                            <%- if p1.active? %>
                                <span class="label label-success pull-right">Activa</span>
                            <% end -%>
                            <%- if p1.finished? %>
                                <span class="label label-default pull-right">Finalizada</span>
                            <% end -%>
                            <%- if p1.paused? %>
                                <span class="label label-warning pull-right">Pausada</span>
                            <% end -%>
                            <h4><span class="fa fa-map-marker icon"></span> <%= p1.address %></h4>
                            <%- if p1.enable_to_publish? %>
                                    <%=button_to "Publicar",[:publicate, p1], class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%- if p1.active? %>
                               <%=button_to "Pausar",[:pause, p1], data: { confirm: '¿Está seguro que desea pausar su publicación?'},class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%- if p1.paused? %>
                               <%=button_to "Reactivar",[:unpause, p1], data: { confirm: '¿Está seguro que desea reactivar su publicación?'}, class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <h5><%= p1.property_type %> | <%= p1.zone %></h5> 
                            <%= p1.transaction_type %>
                            <%= link_to "Ver detalle", publication_path(p1),class: "pull-right detail" %>
                            <span class="fa fa-search icon pull-right"></span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- if p2 %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="panel panel-primary">
                <div class="row padall">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <span></span>
                        <%- if !p2.publication_attachments.first %>
                         <%= image_tag 'noimage.jpg' %>
                        <% end -%>
                        <%- if p2.publication_attachments.first %>
                         <%= image_tag p2.publication_attachments.first.image_url %>
                        <% end -%>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="clearfix">
                            <div class="pull-left">
                                <span class="fa fa-dollar icon"><%= p2.currency %> <%= p2.price %></span>
                            </div>
                            <div class="pull-right">
                                <%= p2.type %>  | <%= p2.init_date %>                                
                            </div>
                        </div>
                        <div>
                            <%- if p2.missing_pay? %>
                                <span class="label label-danger pull-right">Pago pendiente</span>
                            <% end -%>
                            <%- if p2.enable_to_publish? %>
                                <span class="label label-primary pull-right">Listo para publicar</span>
                            <% end -%>
                            <%- if p2.active? %>
                                <span class="label label-success pull-right">Activa</span>
                            <% end -%>
                            <%- if p2.finished? %>
                                <span class="label label-default pull-right">Finalizada</span>
                            <% end -%>
                            <%- if p2.paused? %>
                                <span class="label label-warning pull-right">Pausada</span>
                            <% end -%>
                            <h4><span class="fa fa-map-marker icon"></span> <%= p2.address %></h4>
                            <%- if p2.enable_to_publish? %>
                               <%=button_to "Publicar",[:publicate, p2], class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%- if p2.active? %>
                               <%=button_to "Pausar",[:pause, p2], class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%- if p2.paused? %>
                               <%=button_to "Reactivar",[:unpause, p2], class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <h5><%= p2.property_type %> | <%= p2.zone %></h5>
                            <%= p2.transaction_type %>
                            <%= link_to "Ver detalle", publication_path(p2),class: "pull-right detail" %>
                            <span class="fa fa-search icon pull-right"></span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end -%>
    </div>
  </div>
<% end %>

<style>
    .detail {
        font-size: 18px;
    }
}
</style>
