<%= stylesheet_link_tag "dashboard.css" %>
<%= render :partial => 'navigation' %>
<%- model_class = Publication -%>
<div class="page-header">
<h1>Mis Publicaciones</h1>
</div>
<% @publications.each_slice(2) do |p1, p2| %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="panel panel-primary">
                <div class="row padall">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <span></span>
                        <%- if !p1.publication_attachments.first %>
                         <%= image_tag 'noimage.jpg' %>
                        <% end -%>
                        <%- if p1.publication_attachments.first %>
                         <%= image_tag p1.publication_attachments.first.image_url %>
                        <% end -%>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="clearfix">
                            <div class="pull-left">
                                <span class="fa fa-dollar icon"><%= p1.currency %> <%= p1.price %></span>
                            </div>
                            <div class="pull-right">
                                <%= p1.type %> | <%= p1.init_date %>  
                            </div>
                        </div>
                        <div>
                            <h4><span class="fa fa-map-marker icon"></span> <%= p1.address %></h4>
                            <h5><%= p1.property_type %> | <%= p1.zone %></h5>
                            <%= p1.transaction_type %><span class="fa fa-search icon pull-right"> <%= link_to "Ver detalle", publication_path(p1) %></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- if p2 %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="panel panel-primary">
                <div class="row padall">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <span></span>
                        <%- if !p2.publication_attachments.first %>
                         <%= image_tag 'noimage.jpg' %>
                        <% end -%>
                        <%- if p2.publication_attachments.first %>
                         <%= image_tag p2.publication_attachments.first.image_url %>
                        <% end -%>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="clearfix">
                            <div class="pull-left">
                                <span class="fa fa-dollar icon"><%= p2.currency %> <%= p2.price %></span>
                            </div>
                            <div class="pull-right">
                                <%= p2.type %>  | <%= p2.init_date %>                                
                            </div>
                        </div>
                        <div>
                            <h4><span class="fa fa-map-marker icon"></span> <%= p2.address %></h4>
                            <h5><%= p2.property_type %> | <%= p2.zone %></h5>
                            <%= p2.transaction_type %><span class="fa fa-search icon pull-right"> <td><%= link_to "Ver detalle", publication_path(p2) %></td></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end -%>
    </div>
  </div>
<% end %>
