<%= stylesheet_link_tag "dashboard.css" %>
<%= render :partial => 'navigation' %>
<%- model_class = Publication -%>
<div class="page-header" style="margin-top:10px">
    <div class="row">
        <div class ="panel-body">
            <div class ="col-sm-4">
            <h1>Mis Publicaciones</h1>
            </div>
        </div>
    </div>
<%= form_tag '', :method => :get do %>
<div class="row">
<div class="panel-body">
    <div class="col-xs-2">
    <%= label_tag "Estado",nil, class: "control-label" %>
    <%= select_tag(:status,  options_for_select(Publication::STATUS), class: "form-control") %>
    </div>
    <div class="col-xs-2">
    <%= label_tag "Fecha de publicación desde",nil, class: "control-label" %>
    <%= text_field_tag :first_date,nil, { class: "form-control", readonly:true, style:"background:white;cursor:default;"} %>
    </div>
     <div class="col-xs-2">
    <%= label_tag "Fecha de publicación hasta",nil, class: "control-label" %>
    <%= text_field_tag :last_date,nil, { class: "form-control", readonly:true, style:"background:white;cursor:default;"} %>
    </div>
    <div class= "col-xs-2">
    <%= submit_tag 'Buscar', class: "btn btn-primary" ,style:"margin-top:25px;" %>
    </div>
</div>
</div>
<% end %>
</div>
<% @publications.each_slice(2) do |p1, p2| %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="panel panel-primary">
                <div class="row padall">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <span></span>
                        <%- if !p1.publication_attachments.first %>
                         <%= image_tag 'noimage.jpg', class: "img-rounded" %>
                        <% end -%>
                        <%- if p1.publication_attachments.first %>
                         <%= image_tag p1.publication_attachments.first.image_url, class: "img-rounded"%>
                        <% end -%>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="clearfix">
                            <div class="pull-left">
                                <span class="fa fa-dollar icon"><%= p1.currency %> <%= p1.price %></span>
                            </div>
                            <div class="pull-right">
                                <%= p1.type %> | <%= p1.init_date %>  
                            </div>
                        </div>
                        <div>
                            <%- if p1.missing_pay? %>
                                <span class="label label-danger pull-right">Pago pendiente</span>
                            <% end -%>
                            <%- if p1.enable_to_publish? %>
                                <span class="label label-primary pull-right">Lista para publicar</span>
                            <% end -%>
                            <%- if p1.active? %>
                                <span class="label label-success pull-right">Activa</span>
                            <% end -%>
                            <%- if p1.finished? %>
                                <span class="label label-default pull-right">Finalizada</span>
                            <% end -%>
                            <%- if p1.paused? %>
                                <span class="label label-warning pull-right">Pausada</span>
                            <% end -%>
                            <h4><span class="fa fa-map-marker icon"></span> <%= p1.address %></h4>
                            <%- if p1.enable_to_publish? %>
                                    <%=button_to "Publicar",[:publicate, p1], class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%- if p1.active? %>
                               <%=button_to "Pausar",[:pause, p1], data: { confirm: '¿Está seguro de que desea pausar su publicación?'},class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%- if p1.missing_pay? %>
                                <button onclick="window.idToPay = <%= p1.id %>"  class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#myModal">
                                    Pagar
                                </button>
                            <% end -%>
                            <%- if p1.paused? %>
                               <%=button_to "Reactivar",[:unpause, p1], data: { confirm: '¿Está seguro de que desea reactivar su publicación?'}, class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>   
                            <%=button_to "Borrar",[:retire, p1], data: { confirm: '¿Está seguro de que desea borrar su publicación?'}, class: "btn btn-danger btn-xs pull-right" %>                                         
                            <h5><%= p1.property_type %> | <%= p1.zone %></h5> 
                            <%= p1.transaction_type %>
                            <%= link_to "Ver detalle", publication_path(p1),class: "pull-right detail" %>
                            <span class="fa fa-search icon pull-right"></span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- if p2 %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="panel panel-primary">
                <div class="row padall">
                    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                        <span></span>
                        <%- if !p2.publication_attachments.first %>
                         <%= image_tag 'noimage.jpg', class: "img-rounded" %>
                        <% end -%>
                        <%- if p2.publication_attachments.first %>
                         <%= image_tag p2.publication_attachments.first.image_url, class: "img-rounded" %>
                        <% end -%>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                        <div class="clearfix">
                            <div class="pull-left">
                                <span class="fa fa-dollar icon"><%= p2.currency %> <%= p2.price %></span>
                            </div>
                            <div class="pull-right">
                                <%= p2.type %>  | <%= p2.init_date %>                                
                            </div>
                        </div>
                        <div>
                            <%- if p2.missing_pay? %>
                                <span class="label label-danger pull-right">Pago pendiente</span>
                            <% end -%>
                            <%- if p2.enable_to_publish? %>
                                <span class="label label-primary pull-right">Listo para publicar</span>
                            <% end -%>
                            <%- if p2.active? %>
                                <span class="label label-success pull-right">Activa</span>
                            <% end -%>
                            <%- if p2.finished? %>
                                <span class="label label-default pull-right">Finalizada</span>
                            <% end -%>
                            <%- if p2.paused? %>
                                <span class="label label-warning pull-right">Pausada</span>
                            <% end -%>
                            <h4><span class="fa fa-map-marker icon"></span> <%= p2.address %></h4>
                            <%- if p2.enable_to_publish? %>
                               <%=button_to "Publicar",[:publicate, p2], class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%- if p2.active? %>
                               <%=button_to "Pausar",[:pause, p2], class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%- if p2.missing_pay? %>
                                <button onclick="window.idToPay = <%= p2.id %>"  class="btn btn-default btn-xs pull-right" data-toggle="modal" data-target="#myModal">
                                    Pagar
                                </button>
                            <% end -%>
                            <%- if p2.paused? %>
                               <%=button_to "Reactivar",[:unpause, p2], class: "btn btn-default btn-xs pull-right" %>
                            <% end -%>
                            <%=button_to "Borrar",[:retire, p2], data: { confirm: '¿Está seguro de que desea borrar su publicación?'}, class: "btn btn-danger btn-xs pull-right" %>
                            <h5><%= p2.property_type %> | <%= p2.zone %></h5>
                            <%= p2.transaction_type %>
                            <%= link_to "Ver detalle", publication_path(p2),class: "pull-right detail" %>
                            <span class="fa fa-search icon pull-right"></span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% end -%>
    </div>
  </div>
<% end %>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Pago de publicación</h4>
      </div>
      <div class="modal-body">
<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="cc_number" class="col-sm-3 control-label">Nro. de tarjeta</label>
    <div class="col-sm-5" id="cc_field">
      <input type="text" class="form-control" id="cc_number" placeholder="Nro. de tarjeta">
    </div>
    <div class="col-sm-3">
        <input type="text" class="form-control" id="cc_type" readonly="true">
    </div>
  </div>
  <div class="form-group" >
    <label for="card" class="col-sm-3 control-label">Fecha de vencimiento</label>
    <div class="col-sm-3" id="expiration_field">
      <input type="text" class="form-control" id="expiration">
    </div>
  </div>
  <div class="form-group">
    <label for="full_name" class="col-sm-3 control-label">Nombre completo</label>
    <div class="col-sm-8" id="name_field">
      <input type="text" class="form-control" id="full_name" placeholder="Nombre y apellido">
    </div>
  </div>
   <div class="form-group">
    <label for="card" class="col-sm-3 control-label">Documento</label>
    <div class="col-sm-3">
        <select id="document_type" class="form-control">
          <option>DNI</option>
          <option>L.C.</option>
          <option>L.E.</option>
          <option>Cédula</option>
        </select>
    </div>
    <div class="col-sm-5" id="document_field">
        <input type="text" class="form-control" id="document_number">
    </div>
  </div>
  <div class="form-group">
    <label for="security_code" class="col-sm-3 control-label">Código de seguridad</label>
    <div class="col-sm-2" id="security_code_field">
      <input type="text" class="form-control" id="security_code">
    </div>
  </div>
  <div class="form-group">
    <label for="security_code" class="col-sm-3 control-label">Total a pagar</label>
    <div class="col-sm-2">
      <label class="control-label">$100</label>
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button id="paybutton" type="button" class="btn btn-primary">Acreditar Pago</button>
      </div>
    </div>
  </div>
</div>


<style>
    .detail {
        font-size: 18px;
    }
}
</style>
