<!DOCTYPE html>
<html>
<head>
	<%= favicon_link_tag 'Mileem2.jpg' %>
  <title><%= full_title(yield(:title)) %></title>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=es"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= include_gon %>
	<%= render 'layouts/messages' %>
	<%= yield %>
</body>
</html>
